---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview">
  <a class="post-link" href={post.url}>
    <time class="publish-date">{post.publishDate}</time>
    <span>{post.title}</span>
  </a>
</article>

<style>
  .post-link {
    display: inline-flex;
    gap: 0.5rem;
    align-items: baseline;
    text-decoration: none;
    color: inherit;
  }

  .post-link:hover span {
    text-decoration: underline;
  }

  .publish-date {
    font-size: 0.95rem;
    color: #555;
  }
</style>
